
.register{
              position:absolute;
              max-width:1200px;
              height: 550px;
              width: 100vw;
              top: 40px;
              left: 100px;
              right: 100px;
              bottom: 40px;
              display:flex;
              border: 1px solid #e9ecef;
              border-radius: 5px;
              box-shadow: 1px 3px 10px #e9ecef; 
              background-color: white;
      }
.register .col-1{
              width:650px;
      }
.register .col-1 .imglogo{
              width: 120px;
              height: 120px;
              left: 50px;
              position: absolute;
              top:-20px
      }
.register .col-1 .span{
              font-family: Inter;
              font-size: 32px;
              font-weight: 700;
              line-height: 45px;
              letter-spacing: 0em;
              margin-left: 129px;
              margin-top: 38px;
      }
#form{
              max-width: 320px;
              width: 100vw;
              margin:8px auto;
      }
#form > input{

              font-family: Inter;
              font-size: 15px;
              font-weight: 400;
              line-height: 22px;
              font-style: Mixed;
              align-content: left;
              vertical-align: Top;
              height: 15px;
              padding: 8px 5px;
              background: #F1F1F1;
              border-radius: 8px;
              border: none;
              outline: none;
      }
#form > p{
              font-family: Inter;
              font-size:12px;
              letter-spacing: 0.01em;
              margin-top: -5px;
      }
#form > .a,.Termsandconditions-link{
              color: #F96302;
      }
#form > button{
              background-color: #F96302;
              border: none;
              outline: none;
              padding: 8px;
              border-radius: 4px;
              margin-top:-10px;
      }
#form > .Text{
              background: #F96302;
              letter-spacing:0.03em;
              font-size: 13px;
              font-weight: 550;
              cursor: pointer;
              color: #000404;
              text-align:center;
      }
#form > hr{
              background: #B8D8E0;
              width:100%;
      }
#form > .or{
              background:white;
              width: 100px;
              height: 10px;
              text-align: center;
              margin: -27px auto 10px;
      }
#form > .flex-c-m{
              position:static;
              display: flex;
              justify-content:center;
              align-items: center;
              gap: 30px;
              margin-top:-15px;
      }
#form > .flex-c-m .facebook img{
              Width:29.6px;
              Height:30.256px; 
      }
#form > .flex-c-m .google img{
              Width: 32px;
              Height:32px; 
      }
#form > .flex-c-m .linkedin img{
              Width:43.2px;
              Height:40px;
      }
#form > .account{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              margin-top: -8px;
              text-align: center;
      }
#form > .a,.SignIn{
              color: #F96302;
      }
.flex{
              display: flex;
              gap: 1em;
      }
.flex-col{
              flex-direction: column;
      }
.register .col-1{
              margin: auto;
              padding: 3em 0;
      }
.register .col-2{
              background: #FDC8A6;
              width: 700px

      }
.register .col-2 h1{
              font-family: Inter;
              font-size: 42px;
              font-weight: 1000;
              line-height: 63px;
              letter-spacing: 0em;
              
              height:34px;
              width: 400px;
              border-radius: nullpx;
              margin-top: 70px;
              margin-left: 120px;
              text-align: center;
      }
.register .col-2 h3{
              height:70px;
              width: 293px;
              font-size: 16px;
              margin-left: 160px;
              margin-top: -10px;
              border-radius: nullpx;
              text-align: center;
      }
.register .col-2 img{
              margin-left: 125px;
              width: 375px;
              height: 59%;
              background-color: #FDC8A6;
      }
/* @media screen and (min-width: 420px)  {
  .register .col-2 img{
              display:none;
              background-color: aqua;
          }
      } */
@media screen and (max-width: 480px) {

            .register .col-2{
                        display:none;
            
                }
                .register{
                  
                  width:428px;
                  height: 926px;
                  display:flex;
                  border: 1px solid #e9ecef;
                  border-radius: 5px;
                  box-shadow: 1px 3px 10px #e9ecef; 
                  background-color: white;
          }
          .register .col-1 .imglogo{
                width: 120px;
                height: 120px;
                display: block;
                justify-content: center;
                top:58px;
                left:154px;
        }
        .register .col-1 .span{
                width: 200px;
                font-family: Inter;
                font-size: 25px;
                font-weight: 700;
                line-height: 45px;
                letter-spacing: 0em;
                margin-left: 129px;
                margin-top:30px;
        }
  #form{
                max-width:324px;
                width: 100vw;
                margin:8px auto;
        }
  #form > input{
  
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                line-height: 22px;
                font-style: Mixed;
                align-content: left;
                vertical-align: Top;
                height: 52px;
                padding: 8px 5px;
                background: #F1F1F1;
                border-radius: 8px;
                border: none;
                outline: none;
        }
  #form > p{
                font-family: Inter;
                font-size:15px;
                letter-spacing: 0.01em;
                margin-top: -5px;
        }
  #form > .a,.Termsandconditions-link{
                color: #F96302;
        }
  #form > button{
                background-color: #F96302;
                border: none;
                outline: none;
                padding: 15px;
                border-radius: 4px;
                margin-top:-10px;
        }
  #form > .Text{
                background: #F96302;
                letter-spacing:0.20em;
                font-size: 13px;
                font-weight: 550;
                cursor: pointer;
                color: #000404;
                text-align:center;
        }
  #form > hr{
                background: #B8D8E0;
                width:100%;
        }
  #form > .or{
                background:white;
                width: 100px;
                height: 10px;
                text-align: center;
                margin: -27px auto 10px;
        }
  #form > .flex-c-m{
                position:static;
                display: flex;
                justify-content:center;
                align-items: center;
                gap: 30px;
                margin-top:-15px;
        }
  #form > .flex-c-m .facebook img{
                Width:29.6px;
                Height:30.256px; 
        }
  #form > .flex-c-m .google img{
                Width: 32px;
                Height:32px; 
        }
  #form > .flex-c-m .linkedin img{
                Width:43.2px;
                Height:40px;
        }
  #form > .account{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                margin-top: -8px;
                text-align: center;
        }
  #form > .a,.SignIn{
                color: #F96302;
        }
}